# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IJ
#
.idea
.gradle
local.properties
*.iml
android/gradle
android/build

# node.js
#
node_modules/
npm-debug.log

# BUCK
buck-out/
\.buckd/
android/app/libs
android/keystores/debug.keystore
android/gradlew
android/gradlew.bat

# Android/IJ
#
example/android/gradle
example/android/build

# node.js
#
example/node_modules/
example/npm-debug.log

# BUCK
example/android/app/libs
example/android/keystores/debug.keystore
example/android/gradlew
example/android/gradlew.bat
